In [42]:
from PySide2 import QtWidgets, QtSql
db = QtSql.QSqlDatabase.addDatabase("QSQLITE")
db.setDatabaseName("data.sqlite")

if not db.open():
    print("Error")
query = QtSql.QSqlQuery()

In [43]:
# for i in range(1, 101):
#     query.exec_("INSERT INTO userdata (username, password) VALUES ('%s','%s');"%(str(i),"1234"))

In [44]:
import random

In [45]:
# for i in range(1,101):
#     for j in range(40):
#         query.exec_("INSERT INTO favorits (userId, songId) VALUES ('%s','%s');"%(str(i),str(random.randrange(1,101,1))))

In [46]:
song_list = []
for i in range(1,101):
    query.exec_("select songId from favorits where userId = '%s'"%(i))
    user_list = []
    while query.next():
        user_list.append(int(query.value(0)))
    song_list.append(user_list)

In [47]:
import mlxtend
import numpy as np
import pandas as pd

In [48]:
data = np.array(song_list)
df_data = pd.DataFrame(data)
df_data

C:\Users\jiho\AppData\Local\Temp\ipykernel_15100\241283021.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array(song_list)

                                                    0
0   [10, 16, 18, 21, 22, 24, 25, 3, 30, 34, 41, 46...
1   [10, 100, 12, 18, 22, 24, 25, 27, 33, 36, 37, ...
2   [11, 14, 16, 21, 22, 28, 29, 40, 43, 46, 47, 4...
3   [1, 100, 13, 17, 20, 25, 30, 34, 39, 4, 42, 44...
4   [100, 11, 13, 14, 21, 27, 3, 34, 4, 42, 45, 51...
..                                                ...
95  [10, 15, 16, 20, 21, 22, 27, 29, 34, 39, 40, 4...
96  [14, 17, 20, 22, 23, 24, 28, 29, 3, 33, 35, 36...
97  [13, 16, 18, 21, 22, 23, 29, 31, 33, 39, 40, 4...
98  [100, 19, 24, 26, 35, 36, 37, 40, 43, 45, 46, ...
99  [1, 13, 15, 2, 21, 22, 27, 34, 35, 37, 40, 41,...

[100 rows x 1 columns]

In [49]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(data).transform(data)

df = pd.DataFrame(te_array, columns=te.columns_)

df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,False,False,True,False,True,False,False,False,True,True,...,False,False,False,True,True,True,True,False,False,False
1,False,False,False,True,True,False,False,False,False,True,...,False,False,False,True,False,False,False,False,True,True
2,False,False,False,False,True,False,False,False,False,False,...,True,True,True,False,True,False,False,True,False,False
3,True,False,False,True,False,True,False,True,False,False,...,False,False,False,True,False,False,True,False,True,True
4,False,False,True,True,False,True,False,True,True,False,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,True,False,False,False,False,True,...,False,False,True,False,False,False,True,True,False,False
96,False,False,True,True,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
97,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
98,False,False,False,False,False,True,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
99,True,True,False,False,True,False,True,True,False,False,...,False,False,True,True,False,True,False,False,False,False

In [113]:
from mlxtend.frequent_patterns import apriori
apr = apriori(df, min_support=0.05,use_colnames=True)

In [51]:
apr.to_csv("C:\\UI\\sowe\\data_df_2.csv", sep=',', na_rep='')

In [116]:
apr1 = pd.read_csv("C:\\UI\\sowe\\data_df_2.csv", index_col=0)

print(apr)

       support                      itemsets
0         0.38                           (1)
1         0.35                           (2)
2         0.33                           (3)
3         0.38                           (4)
4         0.35                           (5)
...        ...                           ...
64130     0.05      (72, 74, 47, 48, 53, 59)
64131     0.05      (97, 76, 47, 49, 54, 94)
64132     0.05   (33, 6, 40, 43, 47, 84, 23)
64133     0.05   (7, 40, 42, 74, 47, 59, 31)
64134     0.05  (40, 72, 74, 47, 48, 59, 31)

[64135 rows x 2 columns]

In [53]:
user_items = [1, 5]
print(len(apr["itemsets"]))

64135

In [121]:
# apriori_list = []
# for i in range(len(apr)):
#     apriori_list.append(list(apr["itemsets"][i]))

user_items = [1, 5]
recommend_list=[]
index = []
for i in range(len(apr["itemsets"]) - 1, -1, -1):
    if all(x in apr["itemsets"][i] for x in user_items):
        print(apr["itemsets"][i])
        recommend_list = list(apr["itemsets"][i]).copy()
        for j in user_items:
            recommend_list.remove(j)
        break

print(recommend_list)

frozenset({1, 99, 5, 7, 14})
[99, 7, 14]